*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: Arial, sans-serif;
}
.nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    border: 2px solid black;
    padding: 4px;
}
.nav1 h4{
   margin-left: 4px;
   margin-right: 4px;
}
.nav2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background-color: black;
    padding: 6px;
}
.nav2 a{
    color: white;
    text-decoration: none;
}

/* --------- hero sec starts------- */
.hero{
    position: relative;
    height: 80em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: white;
}
.herobg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
  }
  .herobg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .herocontent {
    position: absolute;
    text-align: center;
    top: 40px;
    z-index: 1;
    max-width: 900px;
    padding: 70px;

  }
  .herocontent h1 {
    margin: 30px 0;
    font-size: 38px;
  }
  .herocontent p {
    margin: 30px 0;
    line-height: 1.5;
    font-size: 18px;
  }
  .herobtn button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgb(0, 220, 249);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #learn{
    background-color: white;
    color: black;
  }
  #firstbtn{
    padding: 8px;
    border-radius: 18px;
    cursor: pointer;
    background-color: rgb(70, 70, 186);
    color: white;
    border: 2px solid blue;
  }
  .video {
    position: relative;
    z-index: 2;
    margin-top: 500px;
    border: 4px solid blue;
    border-radius: 20px;
  }
  
  .video iframe {
   
    width: 1000px;
    height: 650px;
   
    border-radius: 20px;
  }

  /* ---------------hero complete-------------- */
  .trustedsection{
 
    padding: 30px;
   color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to top left, rgb(1, 1, 97) 5%, black 95%);

  }
  .leftside{
    margin-right: 23px;
  }
  .leftsidediv{
    border: 2px solid rgb(238, 238, 238);
    padding: 40px 160px;
    border-radius: 40px;
    margin: 20px;
    font-weight: 700;
    font-size: 23px;
  }

  #rightsidebtn1{
    padding: 6px 10px;
    border-radius: 12px;
    margin: 12px;
    border: 2px solid rgb(6, 6, 130);
    color: blue;
    background-color: rgb(129, 125, 125);
  }
  .rightside h1{
    font-weight: 900;
    font-size: 33px;
    padding: 18px 10px;
  }
  .rightside p{
    font-weight: 600;
    font-size: 23px;
    padding: 18px 10px;
  }
  .trustedbtn button{
    padding: 16px 23px;
    margin: 10px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
  border: none;
  }

  /* -----------------cohort sec----------------- */

  .cohort{

display: flex;

align-items: center;
justify-content: space-evenly;
color: white;
background: linear-gradient(to bottom left, rgb(1, 1, 102) 5%, black 95%);

  }
  .cohortleft{
    margin-top: 20px;
    margin-left: 20px;

  }
  .cohortleftbtn1{
   border: 2px solid rgb(71, 0, 236);
   padding: 14px 53px;
   border-radius: 30px;
   font-weight: bold;
   background-color: rgb(18, 12, 75);
   color: white;
  } 
  .cohortleft h1{
    margin: 9px;
    padding: 8px;
    font-weight: 900;
    font-size: 26px;
    color: white;
  }
  .cohortleft p{
    margin: 9px;
    padding: 8px;
    font-weight: 600;
    font-size: 16px;
    color: white;
  }
  .cohortleftbtn2 button{
    margin: 9px;
    padding: 8px;
    padding: 10px 33px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;

  }
  .cohortright{
    margin: 20px 40px;
  }
  .cohortright img{
    border-radius: 30px;
  }

  /* --------------courses--------------------- */
  .courses{
    display: flex;
    flex-direction: column;

    color: white;
  }
  .coursestop{
    /* background-color: red; */
    margin-left: 50px;
    padding: 23px;
  }
  .coursestop button{
    padding: 10px 16px;
    border-radius: 30px;
    background-color: rgb(160, 160, 212);
    color: rgb(0, 0, 255);
    border: 2px solid blue ;
    font-weight: bold;
    margin: 12px;
  }
  .coursestop h1{
    margin: 12px;
    font-size: 43px;
  } 
  .coursestop p {
    margin: 12px;
    font-size: 13px;
  }

  #coursesdiv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
  }

  .courseseachdiv{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
    padding: 23px;
    margin: 24px;
    background-color: rgb(7, 4, 43);
    border-radius: 20px;
     
  }

  /* .courseseachdiv img{
    width: 230px;
    height: 103px;
    margin: 8px;
  } */
  .courseseachdiv h3{
    margin: 16px;
    font-size: 32px;
  }
  .courseseachdiv p{
    margin: 9px;
    color: white;
    font-weight: 500;
  }

  .courseseachdiv h5{
    margin: 9px;
  }

  .coursesbtn{
    display: flex;
    padding: 14px;
  }
  .coursesbtn button{
    margin: 12px;
    padding: 10px 22px;
    border-radius: 10px;
  }

  /* ------------------------ courses section complete-------------------------------- */


  /*------------------------ coding hero src starts-------------- */

  .codinghero{
margin: 12px;
/* background-color: red; */

width: full;
  }

  .codingherotop{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 33px;
margin: 23px;
  }

  .codingherotop img{
    margin: 16px 13px;
  }
  .codingherotop button{
    margin: 5px 13px;
    padding: 8px 23px;
    border-radius: 12px;
    border: 1 px solid blue;
    color: rgb(0, 0, 233);
    background-color: rgb(16, 16, 77);
    font-weight: 700;
  }
  .codingherotop h1{
    margin: 5px 13px;
    font-weight: 400;
    font-size: 53px;
    color: white;
  }
  .codingherotop p{
    margin: 5px 13px;
    padding: 23px 43px;
    font-size: 18px;
    color: white;
  }

  .codingherocardss{
   
    display: flex;
    justify-content: space-evenly;
    gap: 4;
    color: white;
    width: 80vw;
    margin: auto;
    flex-wrap: wrap;
  }

  .codingherocard{
border: 2px solid black;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
padding: 13px 15px;
margin: 8px;
border-radius: 17px;
color: white;
background-color: rgb(12, 0, 52);
  }
  .codingherocard:hover{
    transform: scale(1.05); 
  }
  .codingherocard img{
    margin-bottom: 12px;
  }
  .codingherocard h4{
    margin-bottom: 12px;
  }
  .codingherolast{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 32px;
  }
  .codingherolast p{
    padding: 16px;
    margin: 32px;
    color: white;
    background-color: rgb(6, 178, 236);
    width: 23vw;
    margin: auto;
    border-radius: 14px;
  }
  .codingherolast button{
    margin: 25px 13px;
    padding: 14px 43px;
    border-radius: 12px;
    border: 1 px solid blue;
    color: white;
    background-color: rgb(16, 16, 77);
    font-weight: 700;
  }
  /* ------coding hero section complete */


  /* --------------------- shirts --------------------------- */

  .shirts{
    height: 73vh;
    width: 100%;
    position: relative;
    background-color: rgb(13, 97, 175);
    border-radius: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .texture{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
  }
  .shirtcontent{
    max-width: 50%;
  padding: 23px;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
 
  }
  .shirtcontent h2{
    margin: 12px;
    padding: 6px;
    font-weight: bold;
    font-size: 43px;
    color: white;
  }
  .shirtcontent p{
    margin: 2px;
    padding: 3px;
    font-size: 23px;
    color: white;
    line-height: 1.5; 
  }
  .shirtcontent button{
    margin: 25px 13px;
    width: 123px;
    padding: 9px 20px;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: rgb(4, 0, 255);
    font-weight: 900;
  }
  .shirtimg{
    position: relative;
height: auto;
width: 40%;
  }
  /*----------- shirt sec complete-------- */