*{
padding: 0;
margin: 0;
box-sizing: border-box;
}


body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height to center it vertically */
   
}
.container{
    background-color: red;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 240px;
    border: 2px solid black;
    border-radius: 20px;
}
.input{
    background-color: black;
    
    width: 240px;
    height: 170px;
    border-radius: 20px;
    border: 2px solid red;
    position: relative;
}
.input input{
    position: absolute;
    bottom: 12px;
    right: 1px;
    height: 60px;
    width: 235px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 34px;
    background-color: black;
    text-align: right;
}

.button{
    display: flex;
    flex-direction: row;
   
}
.left{
    height: 250px;
    width: 180px;
}
.right{
    height: 250px;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 5px;
    border: none;
    background-color: rgb(108, 97, 97);
    font-weight: bolder;
    font-size: 12px;
}
.right button{
    background-color: rgb(245, 163, 0);
}
.top button{
    background-color: rgb(175, 168, 168);
}
  